@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes appearFromTop {
  0% {
    padding: 0;
    height: 0;
    font-size: 0;
  }
  100% {
    padding: 1rem;
  }
}
@keyframes WidthandHeight{
  0%{
    width:0;
    height:0;
  }
  50%{
    width:100%;
    height:40%;
  }
  100%{
    width:100%;
    height:max-content;
  }
}
@keyframes retractMenu {
  100%{
    width:0;
    height:0;
  }
  50%{
    width:100%;
    height:40%;
  }
  0%{
    width:100%;
    height:max-content;
  }
}

