@keyframes slideInFromRight {
  0% {
    opacity:0;
    transform: translateX(50%);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity:0;
    transform: translateX(-50%);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes fadeOutLeft {
    0% {
      opacity:1;
      transform: translateX(0);
    }
    100% {
      opacity:0;
      transform: translateX(-50%);
    }
  }
  @keyframes fadeOutRight {
    0% {
      opacity:1;
      transform: translateX(0);
    }
    100% {
      opacity:0;
      transform: translateX(50%);
    }
  }
  @keyframes fadeIn {
    0%{
      opacity:0;
      transform: translateZ(0);
    }
    100%{
      opacity: 1;
      transform: translateZ(0);
    }
  }
  @keyframes appearFromTop {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(0);
    }
  }

